<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">List demande</h4>
                        <p class="card-category"> Consultez vos demandes</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    idConge

                                </th>
                                <th>
                                    Date Debut
                                </th>
                                <th>Date fin
                                </th>
                                <th>
                                   duree
                                </th>
                                <th>
                                    typr
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{demandeConge.idConge}}
                                    </td>
                                    <td>
                                        {{demandeConge.dateDebut}}
                                    </td>
                                    <td>
                                        {{demandeConge.dateFin}}
                                    </td>
                                    <td>
                                        {{demandeConge.duree}}
                                    </td>
                                    <td >
                                        {{demandeConge.type}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
