<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Reclamations</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Categorie</th>
                                    <th>Description</th>
                                    <th>Date de Reclamation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let d of reclamations">
                                    <td>{{ d.idReclamation }}</td>
                                    <td>{{ d.titre }}</td>
                                    <td>{{ d.categorie }}</td>
                                    <td>{{ d.description }}</td>
                                    <td>{{ d.dateReclamation | date: 'yyyy-MM-dd' }}</td>
                                    <td>{{ getCurrentTime() }}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Add Reclamation</h4>
            </div>
            <div class="card-body">
                <form (submit)="addReclamation(newReclamation)">
                    <div class="form-group">
                        <label for="titre">Titre</label>
                        <input type="text" class="form-control" id="titre" [(ngModel)]="newReclamation.titre" name="titre" required>
                    </div>
                    <div class="form-group">
                        <label for="categorie">Categorie</label>
                        <select class="form-control" id="categorie" [(ngModel)]="newReclamation.categorie" name="categorie" required>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" [(ngModel)]="newReclamation.description" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="text" class="form-control" id="time" [value]="getCurrentTime()" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

